In [112]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
data = pd.read_excel('D:/Data Kaggle.xlsx', sheet_name = 'master')
data

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,male,15-24 years,21.0,312900,6.71,Albania1987,NaN,796,2156624900,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.19,Albania1987,NaN,796,2156624900,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.83,Albania1987,NaN,796,2156624900,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.59,Albania1987,NaN,796,2156624900,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.28,Albania1987,NaN,796,2156624900,Boomers
5,Albania,1987,female,75+ years,1.0,35600,2.81,Albania1987,NaN,796,2156624900,G.I. Generation
6,Albania,1987,female,35-54 years,6.0,278800,2.15,Albania1987,NaN,796,2156624900,Silent
7,Albania,1987,female,25-34 years,4.0,257200,1.56,Albania1987,NaN,796,2156624900,Boomers
8,Albania,1987,male,55-74 years,1.0,137500,0.73,Albania1987,NaN,796,2156624900,G.I. Generation
9,Albania,1987,female,5-14 years,NaN,311000,NaN,Albania1987,NaN,796,2156624900,Generation X
10,Albania,1987,female,55-74 years,NaN,144600,NaN,Albania1987,NaN,796,2156624900,G.I. Generation
11,Albania,1987,male,5-14 years,NaN,338200,NaN,Albania1987,NaN,796,2156624900,Generation X
12,Albania,1988,female,75+ years,2.0,36400,5.49,Albania1988,NaN,769,2126000000,G.I. Generation
13,Albania,1988,male,15-24 years,17.0,319200,5.33,Albania1988,NaN,769,2126000000,Generation X
14,Albania,1988,male,75+ years,1.0,22300,4.48,Albania1988,NaN,769,2126000000,G.I. Generation
15,Albania,1988,male,35-54 years,14.0,314100,4.46,Albania1988,NaN,769,2126000000,Silent
16,Albania,1988,male,55-74 years,4.0,140200,2.85,Albania1988,NaN,769,2126000000,G.I. Generation
17,Albania,1988,female,15-24 years,8.0,295600,2.71,Albania1988,NaN,769,2126000000,Generation X
18,Albania,1988,female,55-74 years,3.0,147500,2.03,Albania1988,NaN,769,2126000000,G.I. Generation
19,Albania,1988,female,25-34 years,5.0,262400,1.91,Albania1988,NaN,769,2126000000,Boomers
20,Albania,1988,male,25-34 years,5.0,279900,1.79,Albania1988,NaN,769,2126000000,Boomers
21,Albania,1988,female,35-54 years,4.0,284500,1.41,Albania1988,NaN,769,2126000000,Silent
22,Albania,1988,female,5-14 years,NaN,317200,NaN,Albania1988,NaN,769,2126000000,Generation X
23,Albania,1988,male,5-14 years,NaN,345000,NaN,Albania1988,NaN,769,2126000000,Generation X
24,Albania,1989,male,75+ years,2.0,22500,8.89,Albania1989,NaN,833,2335124988,G.I. Generation
25,Albania,1989,male,25-34 years,18.0,283600,6.35,Albania1989,NaN,833,2335124988,Boomers
26,Albania,1989,male,35-54 years,15.0,318400,4.71,Albania1989,NaN,833,2335124988,Silent
27,Albania,1989,male,55-74 years,6.0,142100,4.22,Albania1989,NaN,833,2335124988,G.I. Generation
28,Albania,1989,male,15-24 years,12.0,323500,3.71,Albania1989,NaN,833,2335124988,Generation X
29,Albania,1989,female,35-54 years,7.0,288600,2.43,Albania1989,NaN,833,2335124988,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148.0,2556673,5.79,Uzbekistan2012,0.668,1964,51821573338,Millenials
27791,Uzbekistan,2012,female,35-54 years,89.0,3474788,2.56,Uzbekistan2012,0.668,1964,51821573338,Generation X
27792,Uzbekistan,2012,male,5-14 years,67.0,2701361,2.48,Uzbekistan2012,0.668,1964,51821573338,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25.0,1283060,1.95,Uzbekistan2012,0.668,1964,51821573338,Boomers
27794,Uzbekistan,2012,female,75+ years,4.0,338557,1.18,Uzbekistan2012,0.668,1964,51821573338,Silent
27795,Uzbekistan,2012,female,5-14 years,16.0,2578408,0.62,Uzbekistan2012,0.668,1964,51821573338,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481.0,3346411,14.37,Uzbekistan2013,0.672,2150,57690453461,Generation X
27797,Uzbekistan,2013,male,25-34 years,328.0,2644648,12.40,Uzbekistan2013,0.672,2150,57690453461,Millenials
27798,Uzbekistan,2013,female,15-24 years,323.0,3039740,10.63,Uzbekistan2013,0.672,2150,57690453461,Millenials
27799,Uzbekistan,2013,male,15-24 years,320.0,3171202,10.09,Uzbekistan2013,0.672,2150,57690453461,Millenials
27800,Uzbekistan,2013,male,55-74 years,119.0,1202790,9.89,Uzbekistan2013,0.672,2150,57690453461,Boomers
27801,Uzbekistan,2013,male,75+ years,13.0,221002,5.88,Uzbekistan2013,0.672,2150,57690453461,Silent
27802,Uzbekistan,2013,female,25-34 years,146.0,2647820,5.51,Uzbekistan2013,0.672,2150,57690453461,Millenials
27803,Uzbekistan,2013,female,35-54 years,99.0,3547895,2.79,Uzbekistan2013,0.672,2150,57690453461,Generation X
27804,Uzbekistan,2013,female,75+ years,8.0,345180,2.32,Uzbekistan2013,0.672,2150,57690453461,Silent
27805,Uzbekistan,2013,male,5-14 years,61.0,2720938,2.24,Uzbekistan2013,0.672,2150,57690453461,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21.0,1356298,1.55,Uzbekistan2013,0.672,2150,57690453461,Boomers
27807,Uzbekistan,2013,female,5-14 years,31.0,2595000,1.19,Uzbekistan2013,0.672,2150,57690453461,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519.0,3421300,15.17,Uzbekistan2014,0.675,2309,63067077179,Generation X
27809,Uzbekistan,2014,male,25-34 years,318.0,2739150,11.61,Uzbekistan2014,0.675,2309,63067077179,Millenials
27810,Uzbekistan,2014,female,15-24 years,347.0,2992817,11.59,Uzbekistan2014,0.675,2309,63067077179,Millenials
27811,Uzbekistan,2014,male,55-74 years,144.0,1271111,11.33,Uzbekistan2014,0.675,2309,63067077179,Boomers
27812,Uzbekistan,2014,male,15-24 years,347.0,3126905,11.10,Uzbekistan2014,0.675,2309,63067077179,Millenials
27813,Uzbekistan,2014,male,75+ years,17.0,224995,7.56,Uzbekistan2014,0.675,2309,63067077179,Silent
27814,Uzbekistan,2014,female,25-34 years,162.0,2735238,5.92,Uzbekistan2014,0.675,2309,63067077179,Millenials
27815,Uzbekistan,2014,female,35-54 years,107.0,3620833,2.96,Uzbekistan2014,0.675,2309,63067077179,Generation X
27816,Uzbekistan,2014,female,75+ years,9.0,348465,2.58,Uzbekistan2014,0.675,2309,63067077179,Silent
27817,Uzbekistan,2014,male,5-14 years,60.0,2762158,2.17,Uzbekistan2014,0.675,2309,63067077179,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44.0,2631600,1.67,Uzbekistan2014,0.675,2309,63067077179,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21.0,1438935,1.46,Uzbekistan2014,0.675,2309,63067077179,Boomers

In [114]:
data.shape

(27820, 12)

In [115]:
# mengambil data sejumlah n dari atas
data.head(n=500)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,male,15-24 years,21.0,312900,6.71,Albania1987,NaN,796,2156624900,Generation X
1,Albania,1987,male,35-54 years,16.0,308000,5.19,Albania1987,NaN,796,2156624900,Silent
2,Albania,1987,female,15-24 years,14.0,289700,4.83,Albania1987,NaN,796,2156624900,Generation X
3,Albania,1987,male,75+ years,1.0,21800,4.59,Albania1987,NaN,796,2156624900,G.I. Generation
4,Albania,1987,male,25-34 years,9.0,274300,3.28,Albania1987,NaN,796,2156624900,Boomers
5,Albania,1987,female,75+ years,1.0,35600,2.81,Albania1987,NaN,796,2156624900,G.I. Generation
6,Albania,1987,female,35-54 years,6.0,278800,2.15,Albania1987,NaN,796,2156624900,Silent
7,Albania,1987,female,25-34 years,4.0,257200,1.56,Albania1987,NaN,796,2156624900,Boomers
8,Albania,1987,male,55-74 years,1.0,137500,0.73,Albania1987,NaN,796,2156624900,G.I. Generation
9,Albania,1987,female,5-14 years,NaN,311000,NaN,Albania1987,NaN,796,2156624900,Generation X
10,Albania,1987,female,55-74 years,NaN,144600,NaN,Albania1987,NaN,796,2156624900,G.I. Generation
11,Albania,1987,male,5-14 years,NaN,338200,NaN,Albania1987,NaN,796,2156624900,Generation X
12,Albania,1988,female,75+ years,2.0,36400,5.49,Albania1988,NaN,769,2126000000,G.I. Generation
13,Albania,1988,male,15-24 years,17.0,319200,5.33,Albania1988,NaN,769,2126000000,Generation X
14,Albania,1988,male,75+ years,1.0,22300,4.48,Albania1988,NaN,769,2126000000,G.I. Generation
15,Albania,1988,male,35-54 years,14.0,314100,4.46,Albania1988,NaN,769,2126000000,Silent
16,Albania,1988,male,55-74 years,4.0,140200,2.85,Albania1988,NaN,769,2126000000,G.I. Generation
17,Albania,1988,female,15-24 years,8.0,295600,2.71,Albania1988,NaN,769,2126000000,Generation X
18,Albania,1988,female,55-74 years,3.0,147500,2.03,Albania1988,NaN,769,2126000000,G.I. Generation
19,Albania,1988,female,25-34 years,5.0,262400,1.91,Albania1988,NaN,769,2126000000,Boomers
20,Albania,1988,male,25-34 years,5.0,279900,1.79,Albania1988,NaN,769,2126000000,Boomers
21,Albania,1988,female,35-54 years,4.0,284500,1.41,Albania1988,NaN,769,2126000000,Silent
22,Albania,1988,female,5-14 years,NaN,317200,NaN,Albania1988,NaN,769,2126000000,Generation X
23,Albania,1988,male,5-14 years,NaN,345000,NaN,Albania1988,NaN,769,2126000000,Generation X
24,Albania,1989,male,75+ years,2.0,22500,8.89,Albania1989,NaN,833,2335124988,G.I. Generation
25,Albania,1989,male,25-34 years,18.0,283600,6.35,Albania1989,NaN,833,2335124988,Boomers
26,Albania,1989,male,35-54 years,15.0,318400,4.71,Albania1989,NaN,833,2335124988,Silent
27,Albania,1989,male,55-74 years,6.0,142100,4.22,Albania1989,NaN,833,2335124988,G.I. Generation
28,Albania,1989,male,15-24 years,12.0,323500,3.71,Albania1989,NaN,833,2335124988,Generation X
29,Albania,1989,female,35-54 years,7.0,288600,2.43,Albania1989,NaN,833,2335124988,Silent
...,...,...,...,...,...,...,...,...,...,...,...,...
470,Antigua and Barbuda,2004,female,15-24 years,NaN,7648,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Millenials
471,Antigua and Barbuda,2004,female,25-34 years,NaN,7531,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Generation X
472,Antigua and Barbuda,2004,female,35-54 years,NaN,12492,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Boomers
473,Antigua and Barbuda,2004,female,5-14 years,NaN,8488,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Millenials
474,Antigua and Barbuda,2004,female,55-74 years,NaN,4088,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Silent
475,Antigua and Barbuda,2004,female,75+ years,NaN,1590,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Silent
476,Antigua and Barbuda,2004,male,15-24 years,NaN,6968,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Millenials
477,Antigua and Barbuda,2004,male,25-34 years,NaN,6556,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Generation X
478,Antigua and Barbuda,2004,male,5-14 years,NaN,8196,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Millenials
479,Antigua and Barbuda,2004,male,75+ years,NaN,1094,NaN,Antigua and Barbuda2004,NaN,11535,919577148,Silent
480,Antigua and Barbuda,2005,female,15-24 years,NaN,7780,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Millenials
481,Antigua and Barbuda,2005,female,25-34 years,NaN,7327,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Generation X
482,Antigua and Barbuda,2005,female,35-54 years,NaN,12835,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Boomers
483,Antigua and Barbuda,2005,female,5-14 years,NaN,8584,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Millenials
484,Antigua and Barbuda,2005,female,55-74 years,NaN,4157,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Silent
485,Antigua and Barbuda,2005,female,75+ years,NaN,1575,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Silent
486,Antigua and Barbuda,2005,male,15-24 years,NaN,7113,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Millenials
487,Antigua and Barbuda,2005,male,25-34 years,NaN,6444,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Generation X
488,Antigua and Barbuda,2005,male,35-54 years,NaN,11778,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Boomers
489,Antigua and Barbuda,2005,male,5-14 years,NaN,8358,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Millenials
490,Antigua and Barbuda,2005,male,55-74 years,NaN,3748,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Silent
491,Antigua and Barbuda,2005,male,75+ years,NaN,1110,NaN,Antigua and Barbuda2005,NaN,12649,1022191296,Silent
492,Antigua and Barbuda,2006,female,15-24 years,NaN,7902,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Millenials
493,Antigua and Barbuda,2006,female,25-34 years,NaN,7098,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Generation X
494,Antigua and Barbuda,2006,female,35-54 years,NaN,13374,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Boomers
495,Antigua and Barbuda,2006,female,5-14 years,NaN,8571,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Millenials
496,Antigua and Barbuda,2006,female,55-74 years,NaN,4256,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Silent
497,Antigua and Barbuda,2006,female,75+ years,NaN,1573,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Silent
498,Antigua and Barbuda,2006,male,15-24 years,NaN,7239,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Millenials
499,Antigua and Barbuda,2006,male,25-34 years,NaN,6319,NaN,Antigua and Barbuda2006,NaN,14114,1157005444,Generation X

In [116]:
data.describe() #descriptive statistics

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp per capita,gdp year
count,27820.000000,23539.000000,2.782000e+04,23539.000000,8364.000000,27820.000000,2.782000e+04
mean,2001.258375,286.691023,1.844794e+06,15.146940,0.776601,16866.464414,4.455810e+11
std,8.469055,974.183210,3.911779e+06,19.738891,0.093367,18887.576472,1.453610e+12
min,1985.000000,1.000000,2.780000e+02,0.020000,0.483000,251.000000,4.691962e+07
25%,1995.000000,8.000000,9.749850e+04,2.780000,0.713000,3447.000000,8.985353e+09
50%,2002.000000,42.000000,4.301500e+05,8.260000,0.779000,9372.000000,4.811469e+10
75%,2008.000000,175.000000,1.486143e+06,19.560000,0.855000,24874.000000,2.602024e+11
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000,1.812071e+13

In [117]:
# menghitung data kategorik
data['sex'].value_counts()

female    13910
male      13910
Name: sex, dtype: int64

In [118]:
data['age'].value_counts()

15-24 years    4642
55-74 years    4642
75+ years      4642
25-34 years    4642
35-54 years    4642
5-14 years     4610
Name: age, dtype: int64

# Imputation Missing Value

In [119]:
# mendeteksi missing value (NA)
data.isnull().sum()

country                  0
year                     0
sex                      0
age                      0
suicides_no           4281
population               0
suicides/100k pop     4281
country-year             0
HDI for year         19456
gdp per capita           0
 gdp year                0
generation               0
dtype: int64

In [122]:
#imputasi missing value data numerik [mean / median]
data['suicides_no'] = data['suicides_no'].fillna((data['suicides_no'].mean())) 
data['suicides/100k pop'] = data['suicides/100k pop'].fillna((data['suicides/100k pop'].mean()))
data['HDI for year'] = data['HDI for year'].fillna((data['HDI for year'].mean()))
data['gdp per capita'] = data['gdp per capita'].fillna((data['gdp per capita'].mean()))
data.isnull().any()

country              False
year                 False
sex                  False
age                  False
suicides_no          False
population           False
suicides/100k pop    False
country-year         False
HDI for year         False
gdp per capita       False
 gdp year            False
generation           False
dtype: bool

# Encode Label

In [123]:
from sklearn.preprocessing import LabelEncoder

In [124]:
# membuat koding [Encode] untuk sex, generation, dan age tanpa membuat kolom baru
data['sex'] = LabelEncoder().fit_transform(data['sex'])
data['generation'] = LabelEncoder().fit_transform(data['generation'])
data['age'] = LabelEncoder().fit_transform(data['age'])
data.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,1,0,21.0,312900,6.71,Albania1987,0.776601,796,2156624900,2
1,Albania,1987,1,2,16.0,308000,5.19,Albania1987,0.776601,796,2156624900,5
2,Albania,1987,0,0,14.0,289700,4.83,Albania1987,0.776601,796,2156624900,2
3,Albania,1987,1,5,1.0,21800,4.59,Albania1987,0.776601,796,2156624900,1
4,Albania,1987,1,1,9.0,274300,3.28,Albania1987,0.776601,796,2156624900,0

In [125]:
data1 = data.drop(['country-year'], axis=1)
data1

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,1,0,21.000000,312900,6.71000,0.776601,796,2156624900,2
1,Albania,1987,1,2,16.000000,308000,5.19000,0.776601,796,2156624900,5
2,Albania,1987,0,0,14.000000,289700,4.83000,0.776601,796,2156624900,2
3,Albania,1987,1,5,1.000000,21800,4.59000,0.776601,796,2156624900,1
4,Albania,1987,1,1,9.000000,274300,3.28000,0.776601,796,2156624900,0
5,Albania,1987,0,5,1.000000,35600,2.81000,0.776601,796,2156624900,1
6,Albania,1987,0,2,6.000000,278800,2.15000,0.776601,796,2156624900,5
7,Albania,1987,0,1,4.000000,257200,1.56000,0.776601,796,2156624900,0
8,Albania,1987,1,4,1.000000,137500,0.73000,0.776601,796,2156624900,1
9,Albania,1987,0,3,286.691023,311000,15.14694,0.776601,796,2156624900,2
10,Albania,1987,0,4,286.691023,144600,15.14694,0.776601,796,2156624900,1
11,Albania,1987,1,3,286.691023,338200,15.14694,0.776601,796,2156624900,2
12,Albania,1988,0,5,2.000000,36400,5.49000,0.776601,769,2126000000,1
13,Albania,1988,1,0,17.000000,319200,5.33000,0.776601,769,2126000000,2
14,Albania,1988,1,5,1.000000,22300,4.48000,0.776601,769,2126000000,1
15,Albania,1988,1,2,14.000000,314100,4.46000,0.776601,769,2126000000,5
16,Albania,1988,1,4,4.000000,140200,2.85000,0.776601,769,2126000000,1
17,Albania,1988,0,0,8.000000,295600,2.71000,0.776601,769,2126000000,2
18,Albania,1988,0,4,3.000000,147500,2.03000,0.776601,769,2126000000,1
19,Albania,1988,0,1,5.000000,262400,1.91000,0.776601,769,2126000000,0
20,Albania,1988,1,1,5.000000,279900,1.79000,0.776601,769,2126000000,0
21,Albania,1988,0,2,4.000000,284500,1.41000,0.776601,769,2126000000,5
22,Albania,1988,0,3,286.691023,317200,15.14694,0.776601,769,2126000000,2
23,Albania,1988,1,3,286.691023,345000,15.14694,0.776601,769,2126000000,2
24,Albania,1989,1,5,2.000000,22500,8.89000,0.776601,833,2335124988,1
25,Albania,1989,1,1,18.000000,283600,6.35000,0.776601,833,2335124988,0
26,Albania,1989,1,2,15.000000,318400,4.71000,0.776601,833,2335124988,5
27,Albania,1989,1,4,6.000000,142100,4.22000,0.776601,833,2335124988,1
28,Albania,1989,1,0,12.000000,323500,3.71000,0.776601,833,2335124988,2
29,Albania,1989,0,2,7.000000,288600,2.43000,0.776601,833,2335124988,5
...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,0,1,148.000000,2556673,5.79000,0.668000,1964,51821573338,4
27791,Uzbekistan,2012,0,2,89.000000,3474788,2.56000,0.668000,1964,51821573338,2
27792,Uzbekistan,2012,1,3,67.000000,2701361,2.48000,0.668000,1964,51821573338,3
27793,Uzbekistan,2012,0,4,25.000000,1283060,1.95000,0.668000,1964,51821573338,0
27794,Uzbekistan,2012,0,5,4.000000,338557,1.18000,0.668000,1964,51821573338,5
27795,Uzbekistan,2012,0,3,16.000000,2578408,0.62000,0.668000,1964,51821573338,3
27796,Uzbekistan,2013,1,2,481.000000,3346411,14.37000,0.672000,2150,57690453461,2
27797,Uzbekistan,2013,1,1,328.000000,2644648,12.40000,0.672000,2150,57690453461,4
27798,Uzbekistan,2013,0,0,323.000000,3039740,10.63000,0.672000,2150,57690453461,4
27799,Uzbekistan,2013,1,0,320.000000,3171202,10.09000,0.672000,2150,57690453461,4
27800,Uzbekistan,2013,1,4,119.000000,1202790,9.89000,0.672000,2150,57690453461,0
27801,Uzbekistan,2013,1,5,13.000000,221002,5.88000,0.672000,2150,57690453461,5
27802,Uzbekistan,2013,0,1,146.000000,2647820,5.51000,0.672000,2150,57690453461,4
27803,Uzbekistan,2013,0,2,99.000000,3547895,2.79000,0.672000,2150,57690453461,2
27804,Uzbekistan,2013,0,5,8.000000,345180,2.32000,0.672000,2150,57690453461,5
27805,Uzbekistan,2013,1,3,61.000000,2720938,2.24000,0.672000,2150,57690453461,3
27806,Uzbekistan,2013,0,4,21.000000,1356298,1.55000,0.672000,2150,57690453461,0
27807,Uzbekistan,2013,0,3,31.000000,2595000,1.19000,0.672000,2150,57690453461,3
27808,Uzbekistan,2014,1,2,519.000000,3421300,15.17000,0.675000,2309,63067077179,2
27809,Uzbekistan,2014,1,1,318.000000,2739150,11.61000,0.675000,2309,63067077179,4
27810,Uzbekistan,2014,0,0,347.000000,2992817,11.59000,0.675000,2309,63067077179,4
27811,Uzbekistan,2014,1,4,144.000000,1271111,11.33000,0.675000,2309,63067077179,0
27812,Uzbekistan,2014,1,0,347.000000,3126905,11.10000,0.675000,2309,63067077179,4
27813,Uzbekistan,2014,1,5,17.000000,224995,7.56000,0.675000,2309,63067077179,5
27814,Uzbekistan,2014,0,1,162.000000,2735238,5.92000,0.675000,2309,63067077179,4
27815,Uzbekistan,2014,0,2,107.000000,3620833,2.96000,0.675000,2309,63067077179,2
27816,Uzbekistan,2014,0,5,9.000000,348465,2.58000,0.675000,2309,63067077179,5
27817,Uzbekistan,2014,1,3,60.000000,2762158,2.17000,0.675000,2309,63067077179,3
27818,Uzbekistan,2014,0,3,44.000000,2631600,1.67000,0.675000,2309,63067077179,3
27819,Uzbekistan,2014,0,4,21.000000,1438935,1.46000,0.675000,2309,63067077179,0

# Standardize

In [97]:
from sklearn.preprocessing import StandardScaler

In [129]:
data1['suicides_no'] = StandardScaler().fit(data1[['suicides_no']]).transform(data1[['suicides_no']])
data1['population'] = StandardScaler().fit(data1[['population']]).transform(data1[['population']])
data1['suicides/100k pop'] = StandardScaler().fit(data1[['suicides/100k pop']]).transform(data1[['suicides/100k pop']])
data1['HDI for year'] = StandardScaler().fit(data1[['HDI for year']]).transform(data1[['HDI for year']])
data1['gdp per capita'] = StandardScaler().fit(data1[['gdp per capita']]).transform(data1[['gdp per capita']])
data1.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,1,0,-0.296504,-0.391617,-0.464682,-3.017509e-14,-0.850864,2156624900,2
1,Albania,1987,1,2,-0.302083,-0.392870,-0.548399,-3.017509e-14,-0.850864,2156624900,5
2,Albania,1987,0,0,-0.304315,-0.397548,-0.568227,-3.017509e-14,-0.850864,2156624900,2
3,Albania,1987,1,5,-0.318823,-0.466035,-0.581446,-3.017509e-14,-0.850864,2156624900,1
4,Albania,1987,1,1,-0.309895,-0.401485,-0.653597,-3.017509e-14,-0.850864,2156624900,0

# Normalize

In [81]:
from sklearn.preprocessing import Normalizer

In [132]:
data1['suicides_no'] = Normalizer().fit(data1[['suicides_no']]).transform(data1[['suicides_no']])
data1['population'] = Normalizer().fit(data1[['population']]).transform(data1[['population']])
data1['suicides/100k pop'] = Normalizer().fit(data1[['suicides/100k pop']]).transform(data1[['suicides/100k pop']])
data1['HDI for year'] = Normalizer().fit(data1[['HDI for year']]).transform(data1[['HDI for year']])
data1['gdp per capita'] = StandardScaler().fit(data1[['gdp per capita']]).transform(data1[['gdp per capita']])
data1.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp per capita,gdp year,generation
0,Albania,1987,1,0,-1.0,-1.0,-1.0,-1.0,-0.850864,2156624900,2
1,Albania,1987,1,2,-1.0,-1.0,-1.0,-1.0,-0.850864,2156624900,5
2,Albania,1987,0,0,-1.0,-1.0,-1.0,-1.0,-0.850864,2156624900,2
3,Albania,1987,1,5,-1.0,-1.0,-1.0,-1.0,-0.850864,2156624900,1
4,Albania,1987,1,1,-1.0,-1.0,-1.0,-1.0,-0.850864,2156624900,0